MainWindow
{
background-color: windowGrey;
}

QMenuBar
{
color: textColor;
background-color: windowGrey;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: darkGrey;
}

QWidget
{
color: textColor;
}

QMenu
{
color: textColor;
background-color: middleGrey;
}

QMenu:item:selected
{
background-color: nearBlack;
}

QLabel
{
color: textColor;
}

QScrollArea
{
background-color: darkGrey;
}

QWidget#TrackView
{
background-color: darkGrey;
}
